*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.header {
    background: #eeeeee;
    height: auto;
    width: auto;
    top: 0;
}

.kanban_container {
    background: pink;
    height: auto;
    width: auto;
    display: flex;
    padding-left: 2%;
    margin-bottom: 2%;
    text-align:center;
}

.kanban_container .status {
    width: 100%;
    height: auto;
    margin-right: 2%;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid;
}

.backlog {
    background: grey;
    height: auto;
    width: auto;
    text-align:center;
    padding-left: 1%;
    padding-bottom: 2%;
    margin-bottom: 1%;
}

.item {
    background: lightblue;
    height: auto;
    width: auto;
    text-align:left;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid;
    padding-left: 5px;
    margin-bottom: 1%;
    margin-right: 2%;
}

.graphics_container {
    background: yellow;
    height: auto;
    width: auto;
    display: flex;
    padding-left: 2%;
    margin-bottom: 2%;
    text-align:center;
}

.graphics_container .graph {
    width: 100%;
    height: auto;
    margin-right: 2%;
    box-sizing: border-box;
    border-color: black;
    border: 1px solid;
}
